# HVBP analysis

Final project Ironhack DAPT55 by Camila Prada

In [1]:
cd

/Users/camilaprada

In [2]:
cd /Users/camilaprada/Documents/IronHack DAPT55/55_DAPT-master/Projetos/Projeto final Healthcare/Data raw/Master Data/Payment and value from 2015

/Users/camilaprada/Documents/IronHack DAPT55/55_DAPT-master/Projetos/Projeto final Healthcare/Data raw/Master Data/Payment and value from 2015

In [3]:
ls

Payment and Value of Care - Hospital 2015.csv
Payment and Value of Care - Hospital 2016.csv
Payment and Value of Care - Hospital 2017.csv
Payment and Value of Care - Hospital 2018.csv
Payment and Value of Care - Hospital 2019.csv
Payment_and_Value_of_Care-Hospital 2021.csv

In [4]:
import pandas as pd

In [5]:
df_cost2021 = pd.read_csv('Payment_and_Value_of_Care-Hospital 2021.csv')

In [6]:
df_cost2021.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City', 'State', 'ZIP Code',
       'County Name', 'Phone Number', 'Payment Measure ID',
       'Payment Measure Name', 'Payment Category', 'Denominator', 'Payment',
       'Lower Estimate', 'Higher Estimate', 'Payment Footnote',
       'Value of Care Display ID', 'Value of Care Display Name',
       'Value of Care Category', 'Value of Care Footnote', 'Start Date',
       'End Date'],
      dtype='object')

In [7]:
df_cost2021.shape

(18728, 22)

In [8]:
df_cost2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18728 entries, 0 to 18727
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Facility ID                 18728 non-null  int64
 1   Facility Name               18728 non-null  object
 2   Address                     18728 non-null  object
 3   City                        18728 non-null  object
 4   State                       18728 non-null  object
 5   ZIP Code                    18728 non-null  int64
 6   County Name                 18728 non-null  object
 7   Phone Number                18728 non-null  object
 8   Payment Measure ID          18728 non-null  object
 9   Payment Measure Name        18728 non-null  object
 10  Payment Category            18728 non-null  object
 11  Denominator                 18728 non-null  object
 12  Payment                     18728 non-null  object
 13  Lower Estimate              18728 non-null  object
 14  Higher Estimate             18728 non-null  object
 15  Payment Footnote            7245 non-null   float64
 16  Value of Care Display ID    18728 non-null  object
 17  Value of Care Display Name  18728 non-null  object
 18  Value of Care Category      18728 non-null  object
 19  Value of Care Footnote      7251 non-null   float64
 20  Start Date                  18728 non-null  object
 21  End Date                    18728 non-null  object
dtypes: float64(2), int64(2), object(18)
memory usage: 3.1+ MB

In [9]:
df_cost2021.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Payment Measure ID,Payment Measure Name,...,Payment,Lower Estimate,Higher Estimate,Payment Footnote,Value of Care Display ID,Value of Care Display Name,Value of Care Category,Value of Care Footnote,Start Date,End Date
0,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Houston,(334) 793-8701,PAYM_30_AMI,Payment for heart attack patients,...,"$24,768","$23,184","$26,483",NaN,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,NaN,07/01/2017,12/01/2019
1,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Houston,(334) 793-8701,PAYM_30_HF,Payment for heart failure patients,...,"$17,939","$17,089","$18,842",NaN,MORT_PAYM_30_HF,Value of Care Heart Failure measur,Better Mortality and Average Payment,NaN,07/01/2017,12/01/2019
2,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Houston,(334) 793-8701,PAYM_30_PN,Payment for pneumonia patients,...,"$20,712","$19,607","$21,844",NaN,MORT_PAYM_30_PN,Value of Care Pneumonia measure,Average Mortality and Higher Payment,NaN,07/01/2017,12/01/2019
3,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Houston,(334) 793-8701,PAYM_90_HIP_KNEE,Payment for hip/knee replacement patients,...,"$22,404","$21,190","$23,747",NaN,COMP_PAYM_90_HIP_KNEE,Value of Care hip/knee replacement,Average Complications and Higher Payment,NaN,04/01/2017,10/02/2019
4,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,Marshall,(256) 593-8310,PAYM_30_AMI,Payment for heart attack patients,...,"$26,174","$23,186","$29,706",NaN,MORT_PAYM_30_AMI,Value of Care Heart Attack measure,Average Mortality and Average Payment,NaN,07/01/2017,12/01/2019

In [10]:
df_cost2021.to_excel(r'/Users/camilaprada/Documents/IronHack DAPT55/55_DAPT-master/Projetos/Projeto final Healthcare/Data raw/Master Data/HVBP from 2014/hvpbcost2021.xlsx', index = False, header = True)